@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for a specific container */
.scroll-container {
    overflow: auto; /* Allows scrolling */
  }
  
  /* Hide scrollbar for Chrome, Safari, and Edge */
  .scroll-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  /* Hide scrollbar for Firefox */
  .scroll-container {
    scrollbar-width: none; /* For Firefox */
  }
  